<div class="hoa-content row">
  <div class="card hoa-detail col-md-3">
     <div class="view overlay"> <img class="card-img-top" src="../assets/images1.jpg" width="300px" height="360px"></div>
     <div class="card-body">
       <h4 class="card-title">Hoa hướng dương</h4>
       <p class="card-text">Hoa sen với những phẩm chất thanh cao hiếm loài hoa nào sánh được, không chỉ đặc biệt 
         vì sen hồng là quốc hoa của Việt Nam ta, mà bên cạnh đó,
          hoa sen cũng trở thành một loài hoa tặng được yêu thích bởi những ý nghĩa biểu đạt của nó...</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
      </div>
  </div>

  <div class="card hoa-detail col-md-3">
    <div class="view overlay"> <img class="card-img-top" src="../assets/images2.jpg" width="300px" height="360px"></div>
    <div class="card-body">
      <h4 class="card-title">Lẵng hoa</h4>
      <p class="card-text">Hoa sen với những phẩm chất thanh cao hiếm loài hoa nào sánh được, không chỉ đặc biệt 
        vì sen hồng là quốc hoa của Việt Nam ta, mà bên cạnh đó,
         hoa sen cũng trở thành một loài hoa tặng được yêu thích bởi những ý nghĩa biểu đạt của nó...</p>
         <a href="#" class="btn btn-primary">Xem chi tiết</a>
    </div>
</div>

<div class="card hoa-detail col-md-3">
    <div class="view overlay"> <img class="card-img-top" src="../assets/images3.jpg" width="300px" height="360px"></div>
   <div class="card-body">
     <h4 class="card-title">Hoa hồng</h4>
     <p class="card-text">Trong ngày lễ tình nhân hay mỗi dịp kỉ niệm tình yêu, hoa hồng là một món quà không thể thiếu.
        Bởi lẽ đó là loại hoa tượng trưng cho tình yêu được nhiều người biết đến nhất trên thế giới, là loại hoa ngọt ngào,
         nồng thắm mà tình yêu đã len lỏi vào từng cánh hoa, nhị hoa và cả hương thơm dịu nhẹ phảng phất..</p>
        <a href="#" class="btn btn-primary">xem chi tiết</a>
    </div>
</div>    
</div>
